*{
    margin: 0;
}
.header{
    display: flex;
    width: 100%;
    height: 100px;
    background: #031D1E;
    padding: 20px;
    gap: 20px;
}
.padding{
    background: #031D1E;
}
.movieBox{
    background: #031D1E;
    color: white;
    font-family: Georgia;
    font-size: 2.2em;
    margin-top: .8em;
}
.logo{
    background: #031D1E;
    height: 50px;
    margin-top: 1.3em;
    margin-left: 2.5em;
}
.selectors{
    display: flex;
    background: #031D1E;
    margin-top: 1.2em;
    margin-left: 45em;
    gap: 2em;
}