body{
    background: #8BA79B;
}
.card{
    width: 170px;
    height: 350px;
    display: grid;
    place-content: center;
    place-items: center;
    background: #fff;
    box-shadow: 5px 5px 5px grey;
}
.text{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .1px;
    padding: .1px;
    height: 85px;
}
.poster{
    width: 150px;
}
.title{
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    background: #fff;
}
.date{
    font-family: "Fira Sans", sans-serif;
    font-weight: lighter;
    font-size: 15px;
    background: #fff;
    display: flex;
    justify-content: center;
}