body{
    background: #8BA79B;
    width: 100%;
}
.card{
    width: 170px;
    height: 350px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-rows: auto auto;
    background: #fff;
    box-shadow: 5px 5px 5px grey;
}
.text{
    background: #fff;
    display: grid;
    grid-template-rows: 70% 36px;
}
.poster{
    width: 150px;
}
.title{
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    background: #fff;
    text-align: center;
}
.date{
    font-family: "Fira Sans", sans-serif;
    font-weight: lighter;
    font-size: 15px;
    background: #fff;
    text-align: center;
}
.details{
    font-family: "Gill Sans", sans-serif;
    justify-self: center;
    align-self: end;
}